{% extends "index\base.html" %}
{% block title %}New booking{% endblock %}

{% block content %}

    <div class="container">

        <h2> Booking </h2>

        <form method="POST">
            {% csrf_token %}

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Room Number</label>
                <div class="col-sm-10">
                    {{ bookingform.room }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Guest name</label>
                <div class="col-sm-10">
                    {{ bookingform.guest }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Arrival date</label>
                <div class="col-sm-10">
                    {{ bookingform.arrival_date }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Departure date</label>
                <div class="col-sm-10">
                    {{ bookingform.departure_date }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Do you want to cancel?</label>
                <div class="col-sm-10">
                    {{ bookingform.is_cancelled }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Cancellation date</label>
                <div class="col-sm-10">
                    {{ bookingform.cancellation_date }}
                </div>
            </div>
            <button class="btn btn-outline-primary" type="submit">Save</button>
            <button onclick="window.history.back();" class="btn btn-outline-dark" type="button">Cancel</button>

            {% if booking %}
                <a class="btn btn-outline-danger" href="{% url 'delete_booking' booking.id %}">Delete</a>
            {% endif %}

        </form>

    </div>

{% endblock %}