{% extends "index\base.html" %}
{% block title %}list of services{% endblock %}

{% block content %}

    <center><h2 style="margin-bottom: 30px">List of Services</h2></center>

    <div class="container">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Room</th>
                <th>Guest</th>
                <th>Early Check In</th>
                <th>Minibar</th>
                <th>Room Service</th>
                <th>Update</th>
            </tr>
            <tr>
                {% for service in services %}
                    <td> {{ service.id }} </td>
                    <td> {{ service.reservation.room.room_no }}</td>
                    <td> {{ service.reservation.guest.guest_fname }}</td>
                    <td> {{ service.early_checkIn }}</td>
                    <td> {{ service.minibar }}</td>
                    <td> {{ service.room_service }}</td>
                    <td><a class="btn btn-outline-warning" href ="{%url 'update_service' service.id %}">Update</a><td>
                    <td>
                    </tr>
                {% endfor %}
        </table>

        <a class="btn btn-outline-primary pull-right" href="{% url 'add_service' %}"> New Service </a>

    </div>

{% endblock %}