{% extends "index\base.html" %}
{% block title %}list of booking{% endblock %}

{% block content %}

    <div class="container">

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Room Number</th>
                <th>guest name</th>
                <th>Arrival date</th>
                <th>Departure date</th>
                <th>Cancellations</th>
                <th>Cancellation date</th>
                <th>Update</th>
            </tr>
            <tr>
                {% for booking in bookings %}
                    <td> {{ booking.id }} </td>
                    <td> {{ booking.room }}</td>
                    <td> {{ booking.guest }}</td>
                    <td> {{ booking.arrival_date }}</td>
                    <td> {{ booking.departure_date }}</td>
                    <td> {{ booking.is_cancelled }}</td>
                    <td>{{ booking.cancellation_date}}</td>
                    <td> <a class="btn btn-info" href ="{%url 'update_booking' booking.id %}">Update</a> <td>
                    </tr>
                {% endfor %}
        </table>

        <a class="btn btn-info pull-right" href = "{%url 'add_booking' %}"> New Booking </a>

    </div>

{% endblock %}