{% extends "index\base.html" %}

{% block content %}

    <h2> {{ welcome }} </h2>

    <div class="row" style="justify-content: flex-start;">
        <div class="card" style="width: 18rem; margin: 20px;">
            <img src="../images/hotel.png" class="card-img-top" alt="hotel">
            <div class="card-body">
                <h5 class="card-title">MAKE SOME MEMORIES.</h5>
                <p class="card-text">There is a swimming pool and a mini bar where you can have a happy time with people who
                    came on a trip together.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px;">
            <img src="../images/bedroom.png" class="card-img-top" alt="hotel">
            <div class="card-body">
                <h5 class="card-title">ENJOY THE COMFORT.</h5>
                <p class="card-text">Our modern-style hotel has small rooms to large rooms, seminar rooms and restaurants,
                    so not only lovers and family members but also company group travelers can use them without any
                    inconvenience.</p>
            </div>
        </div>
    </div>

{% endblock %}
